@using RentaVex.Common
@using RentaVex.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@this.ViewData["Name"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Products" asp-action="Buy">Store</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-2">

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Liked">Liked</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Message">Message</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Products" asp-action="Create">Add Product</a>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Buy</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Rent</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">New Added</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Promoted</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Popular Items</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Best deals</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Close by</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Close by</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Services</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Free</a></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="User" asp-action="Message">Account Settings</a>
                                <li><hr class="dropdown-divider" /></li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ContactUs">Contact us</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Privacy">Privacy</a>

                                @if (this.SignInManager.IsSignedIn(this.User))
                                {
                                    <a class="dropdown-item">
                                        @(this.User.Identity.Name.Substring(0, this.User.Identity.Name.IndexOf('@')))
                                    </a>

                                    <li><a class="dropdown-item" asp-controller="User" asp-action="MyProducts">My Products</a></li>

                                    <li><hr class="dropdown-divider"/></li>

                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                        <button type="submit" class="btn btn-link text-dark" style="text-decoration: none;">Logout</button>
                                    </form>
                                }
                                else
                                {
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark py-2">
        <div class="container text-center">
            <p class="m-0 text-white">
                Copyright &copy;  @DateTime.Now.Year - @GlobalConstants.SystemName -
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white ms-2 me-2">Privacy</a>
            </p>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
</body>
</html>