@* @using RentaVex.Web.ViewModels.Products
@model RatingViewModel

<link href="~/css/rating.css" rel="stylesheet" />

<div class="rating-container">
    <div class="rating">
        <input type="radio" name="@("rating" + Model.ProductId)" value="5" id="@("5" + Model.ProductId)"><label for="@("5" + Model.ProductId)">☆</label>
        <input type="radio" name="@("rating" + Model.ProductId)" value="4" id="@("4" + Model.ProductId)"><label for="@("4" + Model.ProductId)">☆</label>
        <input type="radio" name="@("rating" + Model.ProductId)" value="3" id="@("3" + Model.ProductId)"><label for="@("3" + Model.ProductId)">☆</label>
        <input type="radio" name="@("rating" + Model.ProductId)" value="2" id="@("2" + Model.ProductId)"><label for="@("2" + Model.ProductId)">☆</label>
        <input type="radio" name="@("rating" + Model.ProductId)" value="1" id="@("1" + Model.ProductId)"><label for="@("1" + Model.ProductId)">☆</label>
    </div>
    <span class="product-rating">@Model.NumberOfStars / 5</span>
</div>

@section Scripts {
<script src="~/js/rating_partial.js"></script>
} *@