@using RentaVex.Web.ViewModels.AllProducts;
@model AllProductsViewModel;

@{
    this.ViewData["Name"] = "Buy";
    string myString = new string('_', 160);
}
<link href="~/css/store.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 position-relative">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>

                        <p class="card-description">
                            @{
                                string description = product.Description.Length > 140 ? product.Description.Substring(0, 140) + "..." : product.Description;
                            }
                            @description
                        </p>
                        <div class="price-container">
                            <p class="card-price">$@product.Price</p>
                            <img class="svg_image like-button" src="~/svg/like.svg" alt="Like Icon" data-product-id="@product.Id" />

                        </div>
                    </div>

                    <div class="card-footer">
                        <a asp-controller="Products" asp-action="ProductPage" asp-route-id="@product.Id" class="btn btn-primary btn-block">
                            Go to Product Page
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<partial name="_PagingPartial" model="@Model"></partial>

@section Scripts {
    <script>
        // JavaScript handle btn
        $('.like-button').click(function () {
            var productId = $(this).data('product-id');
            $.post('/Products/LikeProduct', { productId: productId }, function (data) {
                $(this).css('color', 'red');
            });
        });
    </script>
}
@*    <div class="text-center">
        <p>@myString</p>
    </div>

    <div>
        <h6>PageNumber: @Model.PageNumber</h6>
        <h6>Products: @Model.ProductsCount</h6>
        <h6>PageCount: @Model.PagesCount</h6>
        <h6>NextPage: @Model.NextPage</h6>
        <h6>PreviousPage: @Model.PreviousPage</h6>
        <h6>HasNext: @Model.HasNextPage</h6>
        <h6>HasPrevious: @Model.HasPreviousPage</h6>
    </div> *@
