@using RentaVex.Web.ViewModels.Products
@model ProductPageViewModel

@{
    ViewData["Title"] = @Model.Product.Name;
}

@section Styles {
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="~/css/productpage.css" rel="stylesheet" />
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid rounded product-image" src="@Model.Product.ImageUrl" alt="Product Image" />
            </div>
            <div class="col-md-6 product-details">
                <h1 class="display-4 fw-bold">@Model.Product.Name</h1>
                <div class="description-wrapper">
                    <p class="lead">@Model.Product.Description</p>
                </div>
                <div class="mb-4">
                    <span class="h4">$@Model.Product.Price</span>
                </div>
                <div class="d-flex">
                    <a asp-action="RentProduct" asp-controller="Products" asp-route-id="@Model.Product.Id" class="btn btn-primary btn-rent">
                        Rent me
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/product_page.js"></script>
    <script src="~/js/rent_product.js"></script>
}
