@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering
@inject IHttpContextAccessor HttpContextAccessor
@using RentaVex.Common
@using RentaVex.Services.Data
@using RentaVex.Web.ViewModels.AllProducts
@model AllProductsViewModel

@{
    string pageName = GlobalService.GetPageName(HttpContextAccessor.HttpContext);
    ViewData["Name"] = pageName;
}

<link href="~/css/store.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 position-relative">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>

                        <p class="card-description">
                            @{
                                string description = product.Description.Length > 140 ? product.Description.Substring(0, 140) + "..." : product.Description;
                            }
                            @description
                        </p>
                        <div class="price-container">
                            <p class="card-price">$@product.Price</p>
                            <img class="svg_image like-button" src="~/svg/like.svg" alt="Like Icon" data-product-id="@product.Id" />
                        </div>
                    </div>

                    <div class="card-footer">
                        <a asp-controller="Products" asp-action="ProductPage" asp-route-id="@product.Id" class="btn btn-primary btn-block">
                            Go to Product Page
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Products.Count() >= 1)
{
    <partial name="_PagingPartial" model="@Model"></partial>
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // JavaScript handle btn
            $('.like-button').click(function () {
                var productId = $(this).data('product-id');
                $.post('/Products/LikeProduct', { productId: productId }, function (data) {
                    $(this).css('color', 'red');
                });
            });
        });
    </script>
}
