@using RentaVex.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering
@inject IHttpContextAccessor HttpContextAccessor
@using RentaVex.Web.ViewModels.Products
@using RentaVex.Services.Data

@{
    string pageName = GlobalService.GetPageName(HttpContextAccessor.HttpContext);
    ViewData["Name"] = pageName;
}

<link href="~/css/store.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 position-relative">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>

                        <p class="card-description">
                            @{
                                string description = product.Description.Length > 140 ? product.Description.Substring(0, 140) + "..." : product.Description;
                            }
                            @description
                        </p>
                        <div class="price-container">
                            <p class="card-price">$@product.Price</p>
                            <form asp-controller="Products" asp-action="Unlike" method="post">
                                <input type="hidden" name="productId" value="@product.Id" />

                                <button type="submit" class="btn btn-link likeButton" data-product-id="@product.Id" onclick="toggleLikeImage('@product.Id', this)">
                                    <img src="~/svg/like.svg" alt="Like Icon" class="svg_image dark-like-image" id="darkLikeImage_@product.Id" style="display: none" />
                                    <img src="~/svg/redLike.svg" alt="Like Icon" class="svg_image red-like-image" id="redLikeImage_@product.Id" style="display: inline-block;" />
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a asp-controller="Products" asp-action="ProductPage" asp-route-id="@product.Id" class="btn btn-primary btn-block">
                            Go to Product Page
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_PagingPartial" model="@Model"></partial>


<div id="removeProductFromLiked" style="display: none; transition: opacity 0.5s ease; position: fixed; top: 20px; right: 20px;">
    <partial name="_DangerRemoveProductPartial" />
</div>


@section scripts {
    <script>
        function toggleLikeImage(productId, button) {
            var darkLikeImage = document.getElementById('darkLikeImage_' + productId);
            var redLikeImage = document.getElementById('redLikeImage_' + productId);

            if (darkLikeImage.style.display === 'none') {
                darkLikeImage.style.display = 'none';
                redLikeImage.style.display = 'inline-block';

                $('#removeProductFromLiked').css('opacity', '1');
                $('#removeProductFromLiked').show();

                setTimeout(function () {
                    $('#removeProductFromLiked').css('opacity', '0');
                    setTimeout(function () {
                        $('#removeProductFromLiked').hide();
                    }, 500);
                }, 3000);
              
            } else {

                darkLikeImage.style.display = 'inline-block';
                redLikeImage.style.display = 'none';
          
                button.removeAttribute('onclick');
            }
        }
    </script>
}
